@import url("https://use.typekit.net/dwr8xpc.css");

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.left {
  display: block;
  margin-left: 50;
  margin-right: auto;
  width: 50%;
}

.right {
  display: block;
  margin-left: auto;
  margin-right: 50;
  width: 50%;
}

.dropshadowboximg11 {
        width:480px;
        height:200px;
        box-shadow: -5px 5px 5px
    #59b300;
    }

.dropshadowboximg111 {
    width:480px;
    height:200px;
    box-shadow: -5px 5px 5px
#740b9e;
}

.dropshadowboximg113 {
    width:480px;
    height:200px;
    box-shadow: 5px 5px 5px
#740b9e;
}

.dropshadowboximg12 {
    width:480px;
    height:316px;
    box-shadow: 0px 15px 20px
#8cff1a;
}

.dropshadowboximg112 {
    width:480px;
    height:316px;
    box-shadow: 0px 15px 20px
#740b9e;
}

.dropshadowboximg13 {
    width:480px;
    height:200px;
    box-shadow: 5px 5px 5px
#59b300;
}

.dropshadowboximg21 {
        width:558px;
        height:678px;
        box-shadow: -5px 5px 5px
    #740b9e;
    }
.dropshadowboximg2 {
    width:8000px;
    height:1000px;
    box-shadow: 5px 5px 5px
#59b300;
}
.dropshadowboximg23 {
    width:558px;
    height:678px;
    box-shadow: 5px 5px 5px
#740b9e;
}

div.first {
background: rgba(152, 66, 245, 0.5);
}

div.second {
    background: rgba(11, 158, 45, 0.6);
}

div.third {
    background: rgba(140, 134, 143, 0.8);
}

h1 {
    font-family: bungee,sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: ;
    max-width:600px;
    margin-right:auto;margin-left:auto;
}

body {
  background-image: url('https://coolbackgrounds.io/images/backgrounds/index/compute-ea4c57a4.png');
}
h2{
    font-family: flood-std, sans-serif;
    font-weight: 400;
    font-style: bold;
    background-color: ; max-width:600px;

}
h3{
    margin-left:auto;margin-right:auto;
    
}
h4{
    font-family: bungee,sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: ;
    max-width:1000px;margin-left:auto;margin-right:auto;
    
}

h5{
    font-family: bungee,sans-serif;
    font-weight: 800;
    font-style: normal;
    background-color: ;
    max-width:800px;margin-left:auto;margin-right:auto;
    
}

ul{
    font-family: bungee, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color:
    ;max-height:1800px;max-width:850px;margin-right:auto;margin-left:auto;
}
